@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
html {
  background: url("http://riaclu.org/images/uploads/Protesters.jpg") no-repeat 50% 40% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
*{
  font-family: 'Open Sans', sans-serif !important;
}
body{
  margin: 0px;
  padding: 0px;

}

#form-cont{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -235px;
  background-color: #1abc9c ;
  z-index: 100;
  height: 180px;
  text-align: center;
  color: white;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 5px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 5px 8px 0px rgba(50, 50, 50, 0.75);
}

#form-cont h1{
  margin-bottom: 5px;
  padding-bottom: 0px;
  margin-top: 0px;

}
#form-cont h3{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: lighter;
}
#form-cont h2{
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: lighter;
}


#errorPanel{
	color:#555;
	border-radius:10px;
	font-size:12px;
	padding:10px 36px;
	margin:10px;
	border:1px solid #f5aca6;
	background:#ffecec;
}
input{
	border:none;

	width: 290px;
	padding: 5px;
	height:30px;
	margin-top: 10px;
}
input[type="submit" i]{
	background-color: white;
	padding: 0px;
	font-weight: bold;
}

textarea {
	margin-top: 10px;
    resize: none;
		width: 290px;
		height: 150px;
}
#form-cont a{
	color:white;
}
footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	height: 200px;
	background-color:black;
	text-align: center;
}
